USE [master]
GO
/****** Object:  Database [YGO]    Script Date: 2017/10/14 16:44:53 ******/
CREATE DATABASE [YGO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YGO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\YGO.ndf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'YGO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\YGO_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YGO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YGO]
GO
/****** Object:  Table [dbo].[Banishinfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banishinfo](
	[BanishQQ] [bigint] NOT NULL,
	[BanishName] [nvarchar](10) NOT NULL,
	[Remark] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BanishQQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Judgmentinfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Judgmentinfo](
	[JudgmentQQ] [bigint] NOT NULL,
	[JudgmentName] [nvarchar](10) NULL,
	[TeamSign] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[JudgmentQQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logininfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logininfo](
	[CaptainQQ] [bigint] NOT NULL,
	[Password] [varchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[CaptainQQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Manageinfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manageinfo](
	[Admin] [bigint] NOT NULL,
	[password] [varchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Matchinfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Matchinfo](
	[Matchid] [int] NOT NULL,
	[MatchName] [nvarchar](20) NOT NULL,
	[MatchDate] [smalldatetime] NOT NULL,
	[MatchRemark] [nvarchar](max) NULL,
	[MatchQQgroup] [bigint] NULL,
	[MajorJudgmentName] [nvarchar](10) NOT NULL,
	[GroupJudgmentName] [nvarchar](10) NOT NULL,
	[MajorJudgmentQQ] [bigint] NULL,
	[GroupJudgmentQQ] [bigint] NULL,
	[AllowedTeamSign] [varchar](6) NULL,
	[MatchPopulation] [int] NULL,
	[PermitMemberQQ] [bigint] NULL,
	[PermitMerberName] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matchid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Memberinfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Memberinfo](
	[MemberQQ] [bigint] NOT NULL,
	[MemberName] [nvarchar](10) NOT NULL,
	[MemberDuty] [nvarchar](10) NOT NULL,
	[TeamName] [nvarchar](10) NOT NULL,
	[TeamSign] [varchar](6) NOT NULL,
	[JoinTime] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberQQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Suspendinfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suspendinfo](
	[SuspendQQ] [bigint] NOT NULL,
	[SuspendName] [nvarchar](10) NOT NULL,
	[Remark] [nvarchar](100) NULL,
	[DeblockingDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SuspendQQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teaminfo]    Script Date: 2017/10/14 16:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teaminfo](
	[TeamName] [nvarchar](10) NOT NULL,
	[TeamSign] [varchar](6) NOT NULL,
	[CaptainName] [nvarchar](10) NOT NULL,
	[CaptainQQ] [bigint] NULL,
	[Honor] [nvarchar](100) NULL,
	[HonorScore] [int] NULL,
	[Cleared] [nvarchar](50) NULL,
	[Opened] [varchar](2) NULL,
 CONSTRAINT [PK__Teaminfo__4E21CAAD88F1D631] PRIMARY KEY CLUSTERED 
(
	[TeamName] ASC,
	[TeamSign] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
