<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>YGO</display-name>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/666</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuspendServlet</servlet-name>
    <servlet-class>servlet.SuspendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendServlet</servlet-name>
    <url-pattern>/888</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BanishServlet</servlet-name>
    <servlet-class>servlet.BanishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BanishServlet</servlet-name>
    <url-pattern>/777</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/999</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/1010</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/1111</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>servlet.TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/1212</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MemberServlet1</servlet-name>
    <servlet-class>servlet.MemberServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet1</servlet-name>
    <url-pattern>/1313</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>